header{

    text-align: center;
    font-size:30px;

}

div#sub-title{

   text-align: center;
   font-size:20px; 

}

legend{

    font-size:40px;

}

fieldset{

    font-size:35px;

}

#fullname{

    /* padding:1rem; */
    margin-bottom:1rem;
}

#class_section{

    margin-bottom:1rem;
}

#roll_number{

    margin-bottom:1rem;
}

#passing-year{

    margin-bottom:1rem;
}

#passing-status{

    margin-bottom:1rem;
}

#date_of_birth{

    margin-bottom:1rem;
}

#age{

    margin-bottom:1rem;
}

table{

    margin-top:1rem;
    margin-bottom:1rem;

}




input[type=radio]{

    width:2em;
    height:2em;
    border:0px;

    -ms-transform: scale(1.0); /* IE 9 */
    -webkit-transform: scale(1.0); /* Chrome, Safari, Opera */
    transform: scale(1.2);
}

input[type=date]{

    height:fit-content;
    width:fit-content;
    font-size:35px;   

}

.details{

    margin-left: auto;
    margin-right: auto;

}

.details th{

    background-color: lightpink;

}
.table, th, td{

    border: 1px solid;
    text-align: center;
    width:26%;
    padding:7px;

}

input[type=text]{

    font-size:27px;
    text-align:center
}


input[type=number]{

    font-size:27px;
    text-align: center;


}

input#calculate[type=submit]{

   height: 50px;
   width:25%;
   border-radius: 50px;
   background-color: aquamarine;
   text-align: center;
   font-size:20px;

}

input#submit[type=submit]{

   height: 50px;
   width:28%;
   border-radius: 50px;
   background-color: lightgrey;
   text-align: center;
   font-size:20px;
  margin-left:2%;
}
/* .academic-details{

    display:flex;
    
}

.subject-name{

    flex:25%;
} */

/* 
#subject-name{

    display:flex;
    flex-direction: column;
    flex:25%;
}

#subject-marks{

    display:flex;
    flex-direction: column;
}

#percentage{

    display:flex;
    flex-direction:column;
}

#grade{

    display:flex;
    flex-direction:column;
} */